/* Container of about section */
.about {
    display: flex;
}

/* Container for left side of about */
.about__left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: hsl(0, 0%, 17%);
    padding: 40px;
    width: 50%;
}

/* Titles for about section */
.about h2 {
    font: 22px/30px "opensans-bold", sans-serif;
    color: hsl(0, 0%, 100%);
    height: auto;
}

/* container of download resume button */
.about__left > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 202px;
    background-color: hsl(0, 0%, 37%);
    padding: 0 20px;
    border-radius: 5px;
}

/* On hover color for download resume button */
.about__left > a:hover,
.about__left > a:focus {
    color: hsl(199, 82%, 58%);
}

/* download icon */
.fa-download {
    padding-right: 11px;
    font-size: 19px;
}

/* Add padding bottom to child elements in about section */
.about h2,
.about__left > p {
    padding-bottom: 20px;
}

/* Right section of about page */
.about__right {
    background: hsl(0, 0%, 17%);
    width: 50%;
    padding: 40px;
}

/* SVG icons container */
.about__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* SVG icons */
.about__icons  svg {
    width: 32%;
    fill: hsl(0, 0%, 37%);
    filter: grayscale(1);
}

/* Rows for SVG icons */
.about__iconsRowOne,
.about__iconsRowTwo,
.about__iconsRowThree {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* About section on small screens */
@media only screen and (max-width: 940px) {
    
    /* Container of about section */
    .about {
        flex-direction: column;
    }

    /* Change right and left sections to full width of screen */
    .about__left,
    .about__right {
        width: 100%;
    }
}
