#about > .row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 243px;
}

/* Remove margin from everything in about page */
#about * {
    margin: 0 !important;
}

/* download icon */
.fa-download {
    padding-right: 11px;
    font-size: 19px;
}

/* container of download resume button */
.row > a {
    width: 202px;
    background-color: hsl(0, 0%, 37%);
    padding: 0 20px;
    border-radius: 5px;
}