.projectsPage__left h1 {
    color: white;
}

/* projectsPage container */
#projectsPage {
    background: #0f1014;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 100px;
}

.profjectsPage__buttons > a {
    padding: 10px;
    border-radius: 20px;
    background-color: #3d4145;
    color: white;
    margin-right: 20px;
    border: white 1px solid;
    transition: 0.3s;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}

/* make background more transparent on hover */
.profjectsPage__buttons > a:hover {
    background-color: #3d414564;
}

.projectsPage__right > img {
  margin-left: 20px;
}

@media only screen and (max-width: 1030px) {
  
  /* put project image below buttons */
  #projectsPage {
    flex-direction: column;
  }

  /* add more space between buttons and picture */
  .projectsPage__right > img {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}