/* Project container */
#projectsPage {
    text-align: center;
}

/* Project Header */
h1 {
    color: white;
    font-size: 20px;
}

/* Project images */
img {
    width: 94%;
    max-height: 500px;
}

/* Add more space to projects on small screens */
@media only screen and (max-width: 1030px) {
    #projectsPage {
        margin-bottom: 50px;
    }
}