.skillIcons {
  background-color: white;
  height: 100px;
  margin: 0 40px;
  display: flex;
  justify-content: center;
}

.skillIcons > svg,
.skillIcons > img {
  width: auto;
  height: 100%;
  margin: 0 20px;
  filter: saturate(0);
  transition: .5s;
}

.skillIcons > svg:hover,
.skillIcons > img:hover {
  filter: saturate(100%);
  transition: .25s;
}
